.information{
    position: absolute;
    top:72px;
    left:9px;
    height: 523.8px;
    width: 604.5px;
    background: #FFFFFF;
    box-shadow: 0 0 8px 0 rgba(189,189,189,0.37);
    border-radius: 2px;
  
    .information_header{
        display: flex;
        border-bottom: 0.5px solid #BCBCBC;
        padding-bottom: 11px;
        .forecast{
            display: flex;
            .text{
                opacity: 0.54;
                font-size: 10px;
                color: #000000;
                letter-spacing: 0.31px;
                padding-left: 25px;
                padding-top: 18px;
              
            }
            .expandmore svg{
                width: 8px;
            }
            .expandmore{
                padding-top: 11px;
                padding-left: 8px;
            }
        }
        .coloumns{
            padding-top: 12px;
            padding-left: 15px;
            
            .numbers{
                opacity: 0.9;
                font-size: 10px;
                color: #000000;
                letter-spacing: 0.31px;
                font-weight: bold;
                padding-right: 16px;
            }
        }
    }
    .actualdata{
        padding-top: 11px;
        display: flex;
        .options{
            width: 111px;
            padding-left: 16px;
            .selected{
                background: #427FC5;
                border-radius: 2px;
                font-size: 10px;
                color: #FFFFFF;
                letter-spacing: 0.31px;
                font-weight: bold;
                padding-top: 5.2px;
                padding-bottom: 3.8px;
                padding-left: 9px;
                cursor: pointer;
            }
            .not_selected{
                @extend .selected;
                color:black;
                background: #FFFFFF;
            }
            .childcontainer{
                padding-top: 4px;
                padding-left: 4px;
                .child{
                    display: flex;
                    .bar{
                        border: 1px solid #4990E2;
                    }
                    .value{
                        font-size: 10px;
                        color: #4990E2;
                        padding-left: 2px;
                        width: 80px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        line-height: 20px;
                    }
                }
            }
        }
        .optionsdata{
            .row{
                padding-left: 43px;
                padding-bottom: 5px;
                .rowItem{
                    opacity: 0.9;
                    font-size: 10px;
                    color: #000000;
                    letter-spacing: 0.31px; 
                    font-weight: bold;
                    display: block;
                    width: 33px;
                }
            }
        }
    }
    .information_footer{
        width: 558px;
        height: 7px;
        margin-left: 31px;
        opacity: 0.29;
        background: #D8D8D8;
        border-radius: 29px;
    }
    .page_navigation{
        float: right;
        font-weight: bold;
        padding-right: 20px;
        margin-top: 6px;
        .notselectedpage{
            cursor: pointer;
            margin-left: 15px;
            float: right;
            font-size: 10px;
            width: 18px;
            color: #5B5B5B;
            letter-spacing: 0.25px;
        }
        .selectedpage{
           @extend .notselectedpage;
           background: #4A90E2;
           border-radius: 50%;
           font-size: 10px;
            color: #FFFFFF;
            letter-spacing: 0.25px;
            padding-left: 7px;
        }
    }
}